<button class="follow-cvbtn js-follow-cvbtn">
    <a href="https://store.shopping.yahoo.co.jp/riso-screen/a5ada5c3a5.html" class="follow-cvbtn__link" target="_blank">
        <div class="follow-cvbtn__link--text">
            <hr class="follow-cvbtn__link--text--line01">
            <p>ご購入は<br>こちらから</p>
            <hr class="follow-cvbtn__link--text--line02">
        </div>
        <div class="follow-cvbtn__link--switch"></div>
    </a>
    
</button>