
<div class="wrapper footer__flex">
    <img src="assets/images/logo.svg" alt="かんたんプリントでアートをもっと自由に「キットパスゴッコ」" class="share__logo">
    <div class="share__btn">
        <div class="share__btn--share">
            <div class="share__btn--share--text">
                <div class="share__btn--share--text--item">
                    <div class="balloon">
                        <img src="assets/images/footer/balloon.svg" class="balloon-img" alt="吹き出し" loading="lazy">
                    </div>
                    <div class="share__btn--share--text--item--balloon">
                        <p>SNSでシェア</p>
                        <img src="assets/images/footer/exclamation-mark.svg" class="share__btn--share--text--item--img" alt="びっくりマーク" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="share__btn--share--sns">
                <div class="share__btn--share--sns--icon sink" data-href="https://www.riso.co.jp/product/lp/education/investigation/index.php" data-layout="" data-size="">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.riso.co.jp%2Fproduct%2Flp%2Feducation%2Finvestigation%2Findex.php&amp;src=sdkpreparse" target="_blank">
                        <img src="assets/images/footer/facebook_beige.svg" alt="facebookのアイコン" loading="lazy">
                    </a>
                </div>
                <div class="share__btn--share--sns--icon sink">
                    <a href="https://twitter.com/intent/tweet?url=https://www.riso.co.jp/learn/risoart/lp/kitpasgocco/index.php&text=キットパスゴッコで遊ぼう！" data-url="https://www.riso.co.jp/learn/risoart/lp/kitpasgocco/index.php" data-via="risokagaku_ssp" data-hashtags="kitpasgocco" data-show-count="false" data-text="キットパスゴッコで遊ぼう!" data-lang="ja" target="_blank">
                        <img src="assets/images/footer/x_beige.svg" alt="Xのアイコン" loading="lazy">
                    </a>
                </div>
            </div>
            <button class="share__btn--share--pagetopbtn sink">
                <a href="#">
                    <img src="assets/images/footer/page-top.svg">
                    <span>ページトップへ戻る</span>
                </a>
            </button>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="wrapper js-footer_btn-hidden">
        <div class="footer__nav">
            <ol class="footer__nav--sitemap">
                <li>
                  <a href="https://www.riso.co.jp/form/kitpasgocco/contact/index.php" target="_blank">お問い合わせ</a>
                </li>
                <li>
                  <a href="https://www.riso.co.jp/company/privacy.html" target="_blank">プライバシー</a>
                </li>
                <li>
                  <a href="https://www.riso.co.jp/company/use.html" target="_blank" class="no-wrap">サイトポリシー</a>
                </li>
                <li>
                  <a href="https://www.riso.co.jp/company/smpolicy.html" target="_blank">ソーシャルメディアポリシー</a>
                </li>
            </ol>
            <ol class="footer__nav--sns">
                <span>シルクスクリーン関連<br class="show_pc">公式アカウント一覧</span>
                <div class="footer__nav--sns--icon">
                    <li><a href="https://www.facebook.com/risokagaku.ssprint/" target="_blank"><img src="assets/images/footer/facebook_gray.svg" alt="facebookのアイコン" loading="lazy"></a></li>
                    <li><a href="https://twitter.com/risokagaku_ssp" target="_blank"><img src="assets/images/footer/x_gray.svg"alt="Xのアイコン" loading="lazy"></a></li>
                    <!-- <li><a href="https://www.youtube.com/@risochannel" target="_blank"><img src="assets/images/footer/youtube_gray.svg" alt="YouTubeのアイコン" loading="lazy"></a></li> -->
                    <li><a href="https://www.instagram.com/riso_silkscreen" target="_blank"><img src="assets/images/footer/instagram_gray.svg" alt="Instagramのアイコン" loading="lazy"></a></li>
                </div>
            </ol>
        </div>
    </div>
    <small>Copyright <script type="text/javascript">myDate = new Date() ;myYear = myDate.getFullYear ();document.write(myYear);</script> RISO KAGAKU CORPORATION. All Rights Reserved.</small>


</footer>