<body  class="body">
  <!--GTM-->
  <?php include($_SERVER['DOCUMENT_ROOT'] . '/common/renew_files/inc/tag-gtm_b.html') ?>

  <div class="bg-white">

    <header>
        <div class="wrapper">
          <!--ロゴ-->
          <h1>
            <img src="assets/images/logo.svg" alt="かんたんプリントでアートをもっと自由に「キットパスゴッコ」" class="header__logo">
          </h1>
        </div>

        <div class="wrapper__fixed fixed-header">
          <div class="wrapper__menu">
            <!--ハンバーガーメニュー-->
            <div class="hamburger-menu" id="hamburger-menu">

              <input type="checkbox" id="hamburger-menu-btn-check">
              <label for="hamburger-menu-btn-check" class="hamburger-menu-btn">
                <!-- <img src="assets/images/menu-icon.svg"> -->
                <span class="hamburger-menu__lines"></span>
                <span class="hamburger-menu__heading show_pc">メニュー</span>
              </label>
              <nav class="hamburger-menu__content">
                <div class="hamburger-menu__content-circle"></div>
                <div class="hamburger-menu__content-circle2"></div>
                <ul>
                  <li>
                    <img src="assets/images/menu-icon_star.svg" alt="星のイラスト">
                    <a href="#concept">concept</a>
                  </li>
                  <li>
                    <img src="assets/images/menu-icon_star.svg" alt="星のイラスト">
                    <a href="#features">features</a>
                  </li>
                  <li>
                    <img src="assets/images/menu-icon_star.svg" alt="星のイラスト">
                    <a href="#how-to-use" class="no-wrap">how to use</a>
                  </li>
                  <li>
                    <img src="assets/images/menu-icon_star.svg" alt="星のイラスト">
                    <a href="#shopping" class="no-wrap">shopping</a>
                  </li>
                  <li>
                    <img src="assets/images/menu-icon_star.svg" alt="星のイラスト">
                    <a href="#scenes" class="no-wrap">scenes</a>
                  </li>
                  <li>
                    <img src="assets/images/menu-icon_star.svg" alt="星のイラスト">
                    <a href="#voices">voices</a>
                  </li>
                  <li>
                    <img src="assets/images/menu-icon_star.svg" alt="星のイラスト">
                    <a href="#faq">faq</a>
                  </li>
                </ul>
              </nav>
            </div>

            <!--購入カート-->
            <div class="shopping-cart">
              <a href="https://store.shopping.yahoo.co.jp/riso-screen/2044.html" target="_blank">
                <img src="assets/images/shopping-cart.svg" alt="商品一覧へリンクするカートアイコン">
              </a>
            </div>
          </div>
        </div>

  </header>