<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>キットパスゴッコ特設サイト</title>
    <meta name="description" content="「キットパスゴッコ」は、肌にやさしいインクとデザイン付き専用スクリーンを使ってボディペイントなどが楽しめるプリントキットです。"/>
    
    <!--OGP-->
    <meta property="og:url" content="https://www.riso.co.jp/learn/risoart/lp/kitpasgocco/index.html" />
    <meta property="og:title" content="キットパスゴッコ特設サイト" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="「キットパスゴッコ」は、肌にやさしいインクとデザイン付き専用スクリーンを使ってボディペイントなどが楽しめるプリントキットです。" />
    <meta property="og:image" content="../../assets/images/ogp.png" />
    <meta name="twitter:card" content="Summary Card" />
    <meta name="twitter:site" content="@risokagaku_ssp" />
    <meta property="og:site_name" content="キットパスゴッコ特設サイト" />
    <meta property="og:locale" content="ja_JP" />

    <!--IEに対して互換性のモードを指定-->
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <!--サイトアイコン-->
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="../../assets/images/ogp/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="../../assets/images/ogp/favicon.svg">

    <!--電話番号,メールアドレスのリンク変換防止-->
    <meta name="format-detection" content="email=no,telephone=no,address=no"/>


    <!--GoogleFont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">

    <!--css-->
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <!--slick-->
    <link rel="stylesheet" href="css/slick/slick.css" type="text/css"/>
    <link rel="stylesheet" href="css/slick/slick-theme.css" type="text/css"/>

</head>