<body>
    <header>
      <h1>
        <a href="#top">
          <img src="../assets/images/logo.svg" alt="かんたんプリントでアートをもっと自由に「キットパスゴッコ」">
        </a>
      </h1>

      <div class="wrapper__menu">
        <!--ハンバーガーメニュー-->
        <div class="hamburger-menu">

          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn">
            <span></span>
          </label>
          <span class="menu__heading">メニュー</span>
          <nav>
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </nav>

        <div>
          <a href="">
            <img src="../assets/images/menu-shop.svg" alt="商品一覧へリンクするカートアイコン">
          </a>
        </div>
      </div>

    </header>