@charset "UTF-8";
/* Reset margin, padding, border
* *********************************** */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* breakpoint * *********************************** */
/* Typography * *********************************** */
html {
  font-size: 0.694447vw;
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 1.33333vw;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Zen Maru Gothic", serif;
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
    -webkit-font-smoothing: auto;
  }
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: 2;
}

a,
a:visited {
  color: inherit;
}

/* Layout * *********************************** */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
}

/* Elements * *********************************** */
a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
li {
  list-style: none;
  list-style-type: none;
}

img,
video {
  display: block;
}

img {
  border-style: none;
  display: block;
}

br.sp {
  display: none;
  line-height: initial;
}
@media screen and (max-width: 767px) {
  br.sp {
    display: block;
    line-height: initial;
  }
}

br.pc {
  display: block;
}
@media screen and (max-width: 767px) {
  br.pc {
    display: none;
  }
}

.show_pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .show_pc {
    display: none !important;
  }
}

.show_sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .show_sp {
    display: block;
  }
}

.mgt10 {
  margin-top: 10px;
}

.mgt50 {
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}

.wrapper__menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
}

.hamburger-menu {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  height: 48px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #007257;
  box-shadow: 0px 8px 0px 0px #E6E2D5;
  margin-right: 20px;
}
.hamburger-menu .menu__heading {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-left: 28px;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  margin-right: 8px;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0); /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}