@use "sass:math";
@use "base";
@use "color";
@use "font";

.fv {
    &__animation {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -78%);
            @include base.media-sp {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -90%);
            }
        &--flex {
            display: flex;
            flex-wrap: wrap;
            width: 28vw;
            @include base.media-sp {
                // width: 286px;
                width: 72.3vw;
            }
            @include base.media-sp2 {
                width: 67.3vw;
            }
            &--container {
                position: relative;
                width: 33%;
                &--shape01 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 7.4vw;
                    @include base.media-sp {
                        // width: 81px;
                        // width: 20.8vw;
                        width: 86%;
                        max-width: 30vw;
                    }
                    @include base.media-sp2 {
                        width: 81%;
                        max-width: 30vw;
                    }
                }
                &--shape02 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8.1vw;
                    @include base.media-sp {
                        // width: 89px;
                        // width: 22.8vw;
                        width: 95%;
                        max-width: 30.8vw;
                    }
                    @include base.media-sp2 {
                        width: 90%;
                        max-width: 30.8vw;
                    }
                }
                &--shape03 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8vw;
                    @include base.media-sp {
                        // width: 88px;
                        // width: 22.6vw;
                        width: 93%;
                        max-width: 30.5vw;
                    }
                    @include base.media-sp2 {
                        width: 88%;
                        max-width: 30.5vw;
                    }
                }
                &--shape04 {
                    position: absolute;
                    top: -0.5vw;
                    left: 0.4vw;
                    width: 6.1vw;
                    @include base.media-sp {
                        // width: 67px;
                        top: 1.5vw;
                        left: 0.4vw;
                        // width: 17.2vw;
                        width: 71%;
                        max-width: 48.7vw;
                    }
                    @include base.media-sp2 {
                        top: 1.5vw;
                        left: 0.4vw;
                        width: 66%;
                        max-width: 48.7vw;
                    }
                }
                &--shape05 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8.2vw;
                    @include base.media-sp {
                        // top: 10px;
                        // width: 89px;
                        top: 2.6vw;
                        // width: 22.8vw;
                        width: 95%;
                        max-width: 30.8vw;
                    }
                    @include base.media-sp2 {
                        top: 2.6vw;
                        width: 90%;
                        max-width: 30.8vw;
                    }
                }
                &--shape06 {
                    position: absolute;
                    top: 0.5vw;
                    left: 0.5vw;
                    width: 7.7vw;
                    @include base.media-sp {
                        // top: 9px;
                        // left: 7px;
                        // width: 80px;
                        top: 2.3vw;
                        left: 1.8vw;
                        // width: 20.5vw;
                        width: 85%;
                        max-width: 27.7vw;
                    }
                    @include base.media-sp2 {
                        top: 2.3vw;
                        left: 1.8vw;
                        width: 80%;
                        max-width: 27.7vw;
                    }
                }
                &--shape07 {
                    position: absolute;
                    top: 0.7vw;
                    left: 0.6vw;
                    width: 5.2vw;
                    @include base.media-sp {
                        // left: 8px;
                        // width: 57px;
                        left: 2.1vw;
                        // width: 14.6vw;
                        width: 60%;
                        max-width: 19.7vw;
                    }
                    @include base.media-sp2 {
                        left: 2.1vw;
                        width: 55%;
                        max-width: 19.7vw;
                    }
                }
                &--shape08 {
                    position: absolute;
                    top: 0;
                    left: -0.5vw;
                    width: 8.3vw;
                    @include base.media-sp {
                        // left: -8px;
                        // width: 91px;
                        left: -2.1vw;
                        // width: 23.3vw;
                        width: 96%;
                        max-width: 31.5vw;
                    }
                    @include base.media-sp2 {
                        left: -1.1vw;
                        width: 91%;
                        max-width: 31.5vw;
                    }
                }
                &--shape09 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 7.8vw;
                    @include base.media-sp {
                        // width: 85px;
                        // width: 21.8vw;
                        width: 90%;
                        max-width: 29.5vw;
                    }
                    @include base.media-sp2 {
                        width: 85%;
                        max-width: 29.5vw;
                    }
                }
                /*イラスト*/
                &--illust01 {
                    position: absolute;
                    top: 3vw;
                    left: 1.1vw;
                    z-index: 1;
                    width: 4.9vw;
                    @include base.media-sp {
                        // top: 35px;
                        // left: 12px;
                        // width: 54px;
                        top: 9vw;
                        left: 3vw;
                        // width: 13.8vw;
                        width: 57%;
                        max-width: 18.7vw;
                    }
                    @include base.media-sp2 {
                        width: 52%;
                    }
                }
                &--illust02 {
                    position: absolute;
                    top: 0.9vw;
                    left: 2.3vw;
                    z-index: 1;
                    width: 3.1vw;
                    @include base.media-sp {
                        // top: 10px;
                        // left: 25px;
                        // width: 34px;
                        top: 2.6vw;
                        left: 6.4vw;
                        // width: 8.7vw;
                        width: 36%;
                        max-width: 11.8vw;
                    }
                    @include base.media-sp2 {
                        width: 34%;
                    }
                }
                &--illust03 {
                    position: absolute;
                    top: 3vw;
                    left: 2.7vw;
                    z-index: 1;
                    width: 4.7vw;
                    @include base.media-sp {
                        // top: 29px;
                        // left: 33px;
                        // width: 51px;
                        top: 7.4vw;
                        left: 8.5vw;
                        // width: 13.1vw;
                        width: 54%;
                        max-width: 17.7vw;
                    }
                    @include base.media-sp2 {
                        left: 8vw;
                        width: 49%;
                    }
                }
                &--illust04 {
                    position: absolute;
                    top: 0.3vw;
                    left: 1.5vw;
                    z-index: 1;
                    width: 3vw;
                    @include base.media-sp {
                        top: 3.8vw;
                        left: 4.6vw;
                        width: 32%;
                        max-width: 8.5vw;
                    }
                    @include base.media-sp2 {
                        width: 30%;
                    }
                }
                &--illust05 {
                    position: absolute;
                    top: 0.9vw;
                    left: 2.3vw;
                    z-index: 1;
                    width: 3.1vw;
                    @include base.media-sp {
                        // top: 16px;
                        // left: 21px;
                        // width: 41px;
                        top: 3.9vw;
                        left: 5.4vw;
                        // width: 10.5vw;
                        width: 43%;
                        max-width: 14.3vw;
                    }
                    @include base.media-sp2 {
                        width: 40%;
                    }
                }
                &--illust06 {
                    position: absolute;
                    top: 2.3vw;
                    left: 3.4vw;
                    z-index: 1;
                    width: 2.1vw;
                    @include base.media-sp {
                        // top: 28px;
                        // left: 36px;
                        // width: 24px;
                        top: 6.7vw;
                        left: 9.2vw;
                        // width: 6.2vw;
                        width: 27%;
                        max-width: 18.8vw;
                    }
                    @include base.media-sp2 {
                        top: 6vw;
                        left: 8.5vw;
                        width: 25%;
                    }
                }
                &--illust07 {
                    position: absolute;
                    top: 1.4vw;
                    left: 2.5vw;
                    z-index: 1;
                    width: 1.2vw;
                    @include base.media-sp {
                        // top: 13px;
                        // left: 30px;
                        // width: 13px;
                        top: 3.3vw;
                        left: 6.7vw;
                        // width: 3.3vw;
                        width: 13%;
                        max-width: 19vw;
                    }
                    @include base.media-sp2 {
                        top: 2.5vw;
                    }
                }
                &--illust08 {
                    position: absolute;
                    top: 1.7vw;
                    left: 1.2vw;
                    z-index: 1;
                    width: 5vw;
                    @include base.media-sp {
                        // top: 19px;
                        // left: 11px;
                        // width: 55px;
                        top: 5vw;
                        left: 2.5vw;
                        // width: 14.1vw;
                        width: 58%;
                        max-width: 19vw;
                    }
                    @include base.media-sp2 {
                        left: 3.5vw;
                        width: 53%;
                    }
                }
                &--illust09 {
                    position: absolute;
                    top: 0.3vw;
                    left: 0;
                    z-index: 1;
                    width: 7.6vw;
                    @include base.media-sp {
                        // top: 3px;
                        // left: -1px;
                        // width: 83px;
                        top: 0.7vw;
                        left: 0vw;
                        // width: 19.2vw;
                        width: 88%;
                        max-width: 25.9vw;
                    }
                    @include base.media-sp2 {
                        width: 83%;
                    }
                }
            }
            
        }
    }
}
.mt-2line01 {
    margin-top: 10vw;
    @include base.media-sp {
        // margin-top: 100px;
        margin-top: 25.6vw;
    }
    @include base.media-sp2 {
        margin-top: 23.6vw;
    }
}
.mt-2line02 {
    margin-top: 11vw;
    @include base.media-sp {
        // margin-top: 108px;
        margin-top: 27.7vw;
    }
    @include base.media-sp2 {
        margin-top: 25.7vw;
    }
}
.mt-2line03 {
    margin-top: 11vw;
    margin-left: 0.2vw;
    @include base.media-sp {
        // margin-top: 111px;
        margin-top: 28.5vw;
    }
    @include base.media-sp2 {
        margin-top: 26.5vw;
    }
}
.mt-3line01 {
    margin-top: 9vw;
    @include base.media-sp {
        // margin-top: 102px;
        margin-top: 26.2vw;
        margin-left: 0.2vw;
    }
    @include base.media-sp2 {
        margin-top: 24.2vw;
        margin-left: 0.2vw;
    }
}
.mt-3line02 {
    margin-top: 9vw;
    @include base.media-sp {
        // margin-top: 104px;
        margin-top: 26.7vw;
    }
    @include base.media-sp2 {
        margin-top: 24.7vw;
    }
}
.mt-3line03 {
    margin-top: 9vw;
    @include base.media-sp {
        // margin-top: 102px;
        margin-top: 26.1vw;
    }
    @include base.media-sp2 {
        margin-top: 24.1vw;
    }
}

/*スタンプ*/
.stamp_img {
	overflow: hidden;
    max-width: 4.3vw;
    @include base.media-sp {
        max-width: 11.3vw;
    }
}

/*カタカタ*/
.katakata.on {
    animation: katakata 1.5s;
    @keyframes katakata {
        0% {
          transform: translateY(-2px) rotate(6deg);
        }
      
        10% {
            transform: translate(0) rotate(0deg);
        }
        20% {
            transform: translate(0) rotate(-6deg);
        }
        30% {
            transform: translateY(0px) rotate(0deg);
        }
        40% {
            transform: translateY(-2px) rotate(6deg);
        }
        60% {
            transform: translate(2px) rotate(-2deg);
        }
        80% {
            transform: translateY(2px) rotate(0deg);
        }
        100% {
            transform: translate(0) rotate(2deg);
      }
    }

}