/* Reset margin, padding, border
* *********************************** */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
}
/* デザイン画面幅 * *********************************** */
.wrapper {
    max-width: 1294px;
    margin: 0 auto;
}

/* スマホ切り替え * *********************************** */
$break-point: 750px;
@mixin media-sp {
    @media screen and (max-width: $break-point) {
    @content;
    }
}
    

/* Typography * *********************************** */
html {
    // font-size: 62.5%;
    font-size: 0.694447vw;
    @media only screen and (max-width: $break-point) {
        font-size: 1.33333vw;
    }
}

body {
    font-size: 1.6rem;
    font-family: "Zen Maru Gothic", serif;
    line-height: 1.7;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-feature-settings: 'palt';
    -webkit-font-smoothing: antialiased;

    @media screen and (max-width: $break-point ) {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.5;
        -webkit-font-smoothing: auto;
    }
}

* {
    font-family: inherit;
    font-size: inherit;
    line-height: 2.0;
}
a,
a:visited {
    color: inherit;
    }
/* Layout * *********************************** */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
    }

article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
    }

* {
    box-sizing: border-box;
    }

/* Elements * *********************************** */

a {
    text-decoration: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
    }

ol,
ul,
li {
    list-style: none;
    list-style-type: none;
    }

img,
video {
    //  max-width: 100%;
    display: block;
    }

img {
    border-style: none;
    display: block;
    }

@mixin ina {
& a {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center; /* 水平方向の中央寄せ */
align-items: center;
}
}

br.sp {
display: none;
line-height: initial;
@include media-sp {
display: block;
line-height: initial;
}
}

br.pc {
display: block;
@include media-sp {
display: none;
}
}

.show_pc {
    display: block;
    @include media-sp {
    display: none!important;
    }
}

.show_sp {
    display: none;
    @include media-sp {
    display: block;
    }
}

@mixin border {
border: 1px solid #000;
}

.mgt10 {
margin-top: 10px;
}

.mgt50 {
margin-top: 50px;
}

.bold {
font-weight: bold;
}

