@use "sass:math";
@use "base";
@use "color";
@use "font";

/* first view * *********************************** */
.fv {
    &__bg-shape01 {
        position: absolute;
        top: -2.5vw;
        left: 31vw;
        width: 1.3vw;
        height: 1vw;
    }
    &__bg-shape02 {
        position: absolute;
        top: -3.5vw;
        left: 37vw;
        width: 2.2vw;
        height: 2.1vw;
    }
    &__bg-shape03 {
        position: absolute;
        bottom: -3.5vw;
        left: 19.7vw;
        width: 1.9vw;
        height: 1.9vw;
    }
    &__bg-shape04 {
        position: absolute;
        bottom: -3.5vw;
        left: 64.8vw;
        width: 4.8vw;
        height: 2.2vw;
    }
}
/* concept * *********************************** */
.concept {
    &__bg-shape01 {
        position: absolute;
        top: 2.7vw;
        left: 21.3vw;
        width: 5.7vw;
        height: 6.4vw;
        @include base.media-sp {
            top: -13.3vw;
            left: 7.3vw;
            width: 9.5vw;
            height: 10.3vw;
        }
    }
    &__bg-shape02 {
        position: absolute;
        top: 6.8vw;
        left: 77vw;
        width: 5.8vw;
        height: 6vw;
        @include base.media-sp {
            top: 27.7vw;
            left: 83.3vw;
            width: 9.5vw;
            height: 10.3vw;
        }
    }
    &__bg-shape03 {
        position: absolute;
        top: 25.6vw;
        left: 9vw;
        width: 8.9vw;
        height: 8.1vw;
        @include base.media-sp {
            top: 64.7vw;
            left: -6.7vw;
            width: 14.4vw;
            height: 13.3vw;
        }
    }
    &__bg-shape04 {
        position: absolute;
        top: 36.1vw;
        left: 80.4vw;
        width: 6.9vw;
        height: 2.9vw;
        @include base.media-sp {
            top: -13.3vw;
            left: 7.3vw;
            width: 9.5vw;
            height: 10.3vw;
        }
    }
    &__bg-shape05 {
        position: absolute;
        top: 52.4vw;
        left: 4vw;
        width: 6vw;
        height: 3.8vw;
        @include base.media-sp {
            top: 140.7vw;
            left: 27.3vw;
            width: 9.7vw;
            height: 6.2vw;
        }
    }
}

/* how to use * *********************************** */
.how-to-use {
    &__bg-shape01 {
        position: absolute;
        top: 2vw;
        left: 11.3vw;
        width: 5.7vw;
        height: 6.4vw;
        @include base.media-sp {
            top: 202vw;
            left: 78vw;
            width: 10.2vw;
            height: 15.9vw;
        }
    }
    &__bg-shape02 {
        position: absolute;
        top: -9.36vw;
        left: 76vw;
        width: 8.9vw;
        height: 8.1vw;
        @include base.media-sp {
            top: -10vw;
            left: 71vw;
            width: 17.2vw;
            height: 15.9vw;
        }
    }
    &__bg-shape03 {
        position: absolute;
        top: 54.6vw;
        left: 31vw;
        width: 5.7vw;
        height: 6.4vw;
        @include base.media-sp {
            display: none;
        }
    }
    &__bg-shape04 {
        position: absolute;
        top: 49vw;
        left: 88vw;
        width: 5.7vw;
        height: 6.4vw;
        @include base.media-sp {
            top: 1vw;
            left: 5vw;
            width: 11.3vw;
            height: 11.8vw;
        }
    }
}
/* myscreena4 * *********************************** */
.myscreena4 {
    &__bg-shape01 {
        z-index: -1;
        position: absolute;
        top: -11.5vw;
        left: -13vw;
        width: 3.8vw;
        height: 6vw;
        @include base.media-sp {
            display: none;
        }
    }
    &__bg-shape02 {
        position: absolute;
        top: 12.5vw;
        left: 70vw;
        width: 6.2vw;
        height: 5vw;
        @include base.media-sp {
            display: none;
        }
    }
    &__bg-shape03 {
        position: absolute;
        bottom: -9.5vw;
        left: 8.7vw;
        width: 5.7vw;
        height: 6.4vw;
        @include base.media-sp {
            bottom: -17.5vw;
            width: 11vw;
            height: 12.6vw;
        }
    }
}
/* scenes * *********************************** */
.scenes {
    &__bg-shape01 {
        position: absolute;
        top: 27vw;
        left: 2vw;
        width: 8.9vw;
        height: 8.1vw;
        @include base.media-sp {
            top: 31vw;
            left: 6vw;
            width: 17.2vw;
            height: 15.9vw;
        }
    }
    &__bg-shape02 {
        position: absolute;
        top: 10.5vw;
        left: 70vw;
        width: 5.8vw;
        height: 6vw;
        @include base.media-sp {
            top: 0.5vw;
            left: 79vw;
            width: 11.3vw;
            height: 11.8vw;
        }
    }
}
/* voices * *********************************** */
.voices {
    &__bg-shape01 {
        position: absolute;
        top: 3vw;
        left: 12vw;
        width: 6.4vw;
        height: 3.3vw;
        @include base.media-sp {
            top: -19vw;
            left: 6vw;
            width: 11.5vw;
            height: 11.8vw;
        }
    }
    &__bg-shape02 {
        position: absolute;
        top: 2.5vw;
        left: 78vw;
        width: 7.5vw;
        height: 8.1vw;
        @include base.media-sp {
            top: -2.5vw;
            left: 78vw;
            width: 14.6vw;
            height: 15.9vw;
        }
    }
    &__bg-shape03 {
        position: absolute;
        top: 78.5vw;
        left: -4vw;
        width: 4.9vw;
        height: 5vw;
    }
}
/* faq * *********************************** */
.faq {
    &__bg-shape01 {
        position: absolute;
        top: -5vw;
        left: 22vw;
        width: 5.7vw;
        height: 6.4vw;
        @include base.media-sp {
            top: -10vw;
            left: 59vw;
            width: 11vw;
            height: 12.6vw;
        }
    }
    &__bg-shape02 {
        position: absolute;
        top: 24.5vw;
        left: 72vw;
        width: 6.9vw;
        height: 5.8vw;
        @include base.media-sp {
            top: 174.5vw;
            left: 72vw;
            width: 11vw;
            height: 13.6vw;
        }
    }
}