$green:#007257;
$red: #E63500;
$white:#fff;
$drop-shadow: #E6E2D5;
$beige: #EBE8DC;
$light-beige: #F8F6F1;
$black: #454545;
$yellow: #FFD400;
$dark-beige: #BEBAAB;
$light-gray: #F7F7F7;
$light-skyblue: #B9E7FB;
$light-dark-gray: #F1F1F1;
$pink: #FF8A95;
$blue: #0096D8;