
/* Zen丸ゴシック */
@mixin zen-maru {
    font-family: "Zen Maru Gothic", serif;
}

/* m-plusゴシック */
@mixin m-plus {
    font-family: "M PLUS Rounded 1c", serif;
}
/*Baloo*/
@mixin baloo {
    font-family: "Baloo 2", serif;
    font-optical-sizing: auto;
}
/*mochiy-pop*/
@mixin mochiy-pop {
    font-family: "Mochiy Pop One", serif;
    font-weight: 400;
    font-style: normal;
}

/*rocknroll*/
@mixin rocknroll {
    font-family: "RocknRoll One", serif;
    font-weight: 400;
    font-style: normal;
}