@use "sass:math";
@use "base";
@use "color";
@use "font";

/* ハンバーガーメニュー * *********************************** */
.wrapper__fixed {
    position: fixed;//メニューとカートアイコンの親要素,位置を固定
    top: 1.1vw;
    left: 0;
    width: 100%;
    @include base.media-sp {
        top: 5vw;
    }
  }

.wrapper__menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: percentage(math.div(1294, 1512));
    margin: 0 auto;
    cursor: pointer;
}

.hamburger-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;//内側の要素に合わせた横幅
    height: 3.5vw;
    border-radius: 9999px;//長形円
    background: color.$green;
    margin-right: 1.3vw;
    padding: 1vh 1.3vw;
    @include base.media-sp {
        width: 48px;
        height: 48px;
    }
    label, input[type=checkbox] {
        @include base.media-sp {
            padding: 7.8vw;
        }
    }
    &__heading {
        color: color.$white;
        font-size: 1.05vw;
        font-weight: 700;
        margin-left: 1.85vw;
    }
}

.hamburger-menu-btn {
    display: flex;
    align-items: center;
}

/*3本線*/
.hamburger-menu-btn .hamburger-menu__lines,
.hamburger-menu-btn .hamburger-menu__lines:before,
.hamburger-menu-btn .hamburger-menu__lines:after {
    content: '';
    display: block;
    width: 1.1vw;
    height: 0.2vw;
    border-radius: 0.2vw;
    background-color: color.$white;
    position: absolute;
    margin-right: 0.5vw;
    @include base.media-sp {
        width: 16px;
        height: 2.4px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.hamburger-menu-btn .hamburger-menu__lines:before {
    bottom: 0.5vw;
    @include base.media-sp {
        bottom: 6.5px;
    }
}
.hamburger-menu-btn .hamburger-menu__lines:after {
    top: 0.5vw;
    @include base.media-sp {
        top: 6.5px;
    }
}

/*クリック時の3本線の動き*/
#hamburger-menu-btn-check:checked ~ .hamburger-menu-btn .hamburger-menu__lines {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#hamburger-menu-btn-check:checked ~ .hamburger-menu-btn .hamburger-menu__lines::before {
    bottom: 0;
    transform: rotate(45deg);
    @include base.media-sp {
        left: 1px;
    }
}
#hamburger-menu-btn-check:checked ~ .hamburger-menu-btn .hamburger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
    @include base.media-sp {
        left: 1px;
    }
}

#hamburger-menu-btn-check {
    display: none;
}

#hamburger-menu-btn-check:checked ~ .hamburger-menu__content {
    display: block;
}

/*メニューの中身*/
.hamburger-menu__content {
    position: absolute;
    top: 7vw;//メニューからの距離+メニューの高さ
    right: 0;
    display: none;
    width: fit-content;//内側の要素に合わせた横幅
    min-width: percentage(math.div(211, 1512));
    height: fit-content;//内側の要素に合わせた高さ
    border-radius: 0.6vw;
    background-color: color.$green;
        @include base.media-sp {
            top: 30.1vw;
            width: 43vw;
        }

    ul {
        display: flex;
        flex-direction: column;
        padding: 3vw 4vw 3vw 3vw;
        align-items: flex-start;
        z-index: 80;
        @include base.media-sp {
            padding: 7.7vw;
            padding-left: 4vw;
        }
        li {
            display: flex;
            list-style: none;
            @include base.media-sp {
                margin-left: 3.8vw;
            }
            a {
                display: block;
                width: 100%;
                @include font.m-plus;
                font-size: 1.1vw;
                letter-spacing: 0.025vw;//折り返しにならないよう再設定
                font-weight: 800;
                box-sizing: border-box;
                color: color.$white;
                text-decoration: none;
                position: relative;
                @include base.media-sp {
                    font-size: 4.1vw;
                }
            }
            img {
                opacity: 0;
                width: 1vw;
                margin-right: 0.4vw;
                @include base.media-sp {
                    width: 15px;
                    margin-right: 5px;
                }
            }
        }
        li:not(:last-of-type) {
            margin-bottom: 3vh;
        }
        li:hover img {
            opacity: 1;
        }
       
    }
    &-circle {
        position: absolute;
        top: -37px;
        right: 48px;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: color.$green;
        @include base.media-sp {
            right: 12px;
        }

    }
    &-circle2 {
        z-index: -1!important;
        position: absolute;
        top: -18px;
        right: 48px;
        width: 14px;
        height: 36px;
        flex-shrink: 0;
        border-radius: 9999px;//長形円
        background-color: color.$green;
        @include base.media-sp {
            right: 12px;
        }
    }
}
.hamburger-menu__content ul li a:hover {
    color: color.$yellow;
}